<!-- <div class="promotion-stripe">
  <a href="{{site.baseurl}}/#subscribe-box">
    <div class="promotion-stripe-paragraph">
      <p>
        The first 100 subscribers will get the newsletter for <b>free for 1 year</b>. Subscribe NOW!
      </p>
    </div>
  </a>
</div> -->

<div class="header {{include.headerClass}}">
  <div class="container">
    <div class="logo">
      <a href="{{site.baseurl}}/"
        ><img
          alt="Figurit Homepage"
          src="{{site.baseurl}}/assets/images/tms_logo.png"
      /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{site.baseurl}}/"
        ><img alt="Figurit Homepage" src="{{site.baseurl}}/images/favicon.png"
      /></a>
    </div>
    {% include main-menu.html %} {% include hamburger.html %}
  </div>
</div>
