<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/eventos.html">Eventos</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/cursos.html">Cursos</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/recursos.html">Recursos</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/categorias.html">Artigos</a>
</li>
<li class="nav-item">
  <a class="nav-link nav-special" href="{{site.baseurl}}/quero-ser-tech-writer.html">Quero ser tech writer</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/sobre.html">Sobre</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/contato.html">Contribuir</a>
</li>
