<div class="social-proof-wrapper">

    <div class="social-title">
    <h2>What readers are saying</h2>
    </div>

    <div class="social-proof-container">
    <div class="card">
        <div class="social-proof-title">
        <h3>Mark C.</h3>
        <h4><em>USA</em></h4>
        </div>
        <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
        <div class="quote">
            <blockquote>
            "Your newsletter is easy to read and insightful as hell. Congrats!"
            </blockquote>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="social-proof-title">
        <h3>Juliana K.</h3>
        <h4><em>Brazil</em></h4>
        </div>
        <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
        <div class="quote">
            <blockquote>
            "Wow, didn't expect to find your content so useful. It's helping me
            see my craft through new angles."
            </blockquote>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="social-proof-title">
        <h3>Carl J.</h3>
        <h4><em>Canada</em></h4>
        </div>
        <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
        <div class="quote">
            <blockquote>
            "The stories are really straight to the point, and the learnings are
            awesome."
            </blockquote>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="social-proof-title">
        <h3>Megan B.</h3>
        <h4><em>Australia</em></h4>
        </div>
        <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
        <div class="quote">
            <blockquote>
            "One of the few newsletters that really make me excited once it hits
            my inbox. Thanks so much!"
            </blockquote>
        </div>
        </div>
    </div>
    </div>
</div>


