<div class="social-proof-mobile-wrapper col-12">
    <h2 class="title-4 text-dark mb-3">What readers are saying</h2>
  </div>
  
  <div class="testimonials-list">
    <div class="testimonial-card">
      <h4>Mark C. - USA</h4>
      <p>"Your newsletter is easy to read and insightful as hell. Congrats!"</p>
    </div>

    <div class="testimonial-card">
      <h4>Juliana K. - Brazil</h4>
      <p>"Wow, I didn't expect to find your content so useful and actionable. It's helping me see my craft through really intersting angles."</p>
    </div>

    <div class="testimonial-card">
      <h4>Carl J. - Canada</h4>
      <p>"The stories are really straight to the point, and the learnings are awesome."</p>
    </div>

    <div class="testimonial-card">
      <h4>Megan B. - Australia</h4>
      <p>"One of the few newsletters that really make me excited once it hits my inbox. Thanks so much!"</p>
    </div>
  </div>
  
  
</div>