.post-header {
  margin-top: 65px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-image{
  height: auto;
  margin-left: 0%;
  margin-bottom: 30px;
  margin-right: 0%;
}

.post-image img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content {
  margin-top: 70px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 100px;

  h1, h2, h3, h4{
    margin-top: 40px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }
}

@media (max-width: 1000px){
  .post-header {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 900px){
  .post-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
  }

  .post-image img{
    height: 300px;
  }
}

@media (max-width: 400px){
  .post-header {
    margin-left: 5%;
    margin-right: 5%;
  }

  .post-content {
    margin-left: 5%;
    margin-right: 5%;
  }

  .post-image img{
    height: 150px;
  }
}